.editor-container {
    max-height: 100px;
    height: 100px;
    overflow: auto;
    background-color: #FFFFFF;
    border-width: 1px;
}

.editor-toolbar {
    background-color: #FFFFFF;
}

.editor-click-prompt:hover {
    background-color: darkgray;
    color: white;
}

.editor-click-prompt {
    max-height: 100%;
    height: 100%;
    border-style: solid;
    border-radius: 1px;
    border-color: #bebebe;
    color: #777;
}

.my-text-box {
    background-color: #C5CDEB;
    color: black;
    word-wrap: break-word;
}

.other-text-box {
    background-color: #cdebc5;
    color: black;
    word-wrap: break-word;
}

.chatlog {
    overflow: auto;
    scrollbar-width: none;
    height:90%;
    max-height: 90%;
}

.user-inputs {
    height: 10%;
    max-height: 100%;
}

.chat-container {
    background-color: #F2F3F4;
}

.chatlog-editor-container {
    height: 87%;
    max-height: 87%;
}

/*
.ql-editor {
    white-space: normal!important;
}
*/

/*
Currently of no use
*/
.replying-to {
    height:10%;
    width:96%;
}