body, html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f5f5f5;
}

.application {
    box-sizing: border-box;
}

/* Sidebar */
.sidebar {
    padding-right: 0px;
}

#chat-searchbar {
    width: 90%;
}

.chat-selection {
    width: 100%;
    overflow: auto;
}

/* Title section */
#title-section {
    background-color: white;
}

.title-avatar {
    height: 50px;
}

#conversation-title {
    margin-bottom: 0px;
}

#last-seen-time {
    font-size: 0.88rem;
}

/* Overall container for the actual chatting, excludes the side bar*/
.chat-container {
    overflow: auto;
    background-color: #f5f5f5;
    padding-left: 0px;
    padding-right: 0px;
}

.blank-space {
    height: 5px;
}

/* container for both the chat display and the editor */
.chatlog-editor-container {
    height: 90%;
    max-height: 90%;
    padding-left: 0px;
    padding-right: 0px;
}

/* Overall section containg and displaying the chats */
.chatlog {
    overflow: auto;
    scrollbar-width: none;
    max-height: 90%;
    min-height: 10%;
}

/* Styling for display of chats */
/* Modifies text box coming from the user */
.my-text-box {
    background-color: #d7ffe3;
    color: black;
    word-wrap: break-word;
}

/* Modifies text box sent to the user / received from other participant */
.other-text-box {
    background-color: white;
    color: black;
    word-wrap: break-word;
}

.other-avatar {
    height: 40px;
}

/* Editor together with the bottom most buttons for sending and encoding */
.user-inputs {
    height: 10%;
    max-height: 90%;
    padding-left: 0px;
    padding-right: 0px;
}

/* Styling for the quill editor */
/* The container holding the editor */
.editor-container {
    max-height: 50%;
    overflow: auto;
    min-height: 70px;
    background-color: #FFFFFF;
    border-width: 1px;
}

.ql-editor {
    min-height: 50px;
    max-height: 100%;
    overflow: auto;
}

/* The container for the editor and the toolbar */
.editor-toolbar {
    border-radius: 25px;
    background-color: #FFFFFF;
}

/* When hovering over prompt that brings up editor */
.editor-click-prompt:hover {
    background-color: darkgray;
    color: white;
}

/* Otherwise default for the above mentioned prompt */
.editor-click-prompt {
    max-height: 100%;
    height: 100%;
    border-style: solid;
    border-radius: 1px;
    border-color: #bebebe;
    color: #777;
}

[name='text'] {
    & .ql-size-small {
        font-size: 0.75em;
    }
    & .ql-size-large {
        font-size: 1.5em;
    }
    & .ql-size-huge {
        font-size: 2.5em;
    }
    & [data-list="bullet"] {
        list-style-type: disc !important;
    }
}

/* Plaintext encoded text */
[data-encoding="Plaintext"] {
    white-space: pre-wrap !important;
    & p {
        margin-top: 0px;
        margin-bottom: 0px;
        word-break: break-all;
        white-space: pre-wrap !important;
    }
    & ol {
        margin-bottom: 0px;
    }
    & ul {
        margin-bottom: 0px;
    }
}


/** Note that this may remove some accessibility features */
.katex .katex-mathml {
    position: relative;
    display: none;
}

/*
Other chat
*/
other-chat {
    flex-direction: row-reverse;
}