.editor-container {
    max-height: 100px;
    overflow: auto;
    background-color: #FFFFFF;
}

.editor-toolbar {
    height: 50%;
    background-color: #FFFFFF;
}

.ql-editor[contenteditable=false] {
    background-color: #A6A6A6;
}

.text-box {
    background-color:#D3D3D3;
    color: black;
    word-wrap: break-word;
}

.chatlog {
    overflow: auto;
}

.faded {
    background-color: #A6A6A6;
}

.chat-container {
    background-color: #FFFFFF;
}